<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working with Vue</title>

    <link rel="stylesheet" href=css/main.css>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <main id="app">
        <h1 @click="clickHeader">{{ message }}</h1><!-- linked with main.js data -->
        <p>{{ anotherMessage }}</p>

        <!-- show the prof data in 'collection' array -->
        <ul>
            <!-- this is a custom component defined in main.js -->
            <prof-card v-for= "prof in professors" :prof="prof" :key="prof.id"></prof-card>

            <!-- <li v-for= "prof in professors">
                <p>Prof Name: {{ prof.name }}, Role: {{ prof.role }}</p>
                <a href="" class="remove-prof" @click.prevent="rshowProfData(prof)" v-bind:class="{'prof-button-modifier' : removeAformat}">Remove {{prof.name}}</a> 
                <a href="" class="remove-prof" @click.prevent="removeProf(prof)" v-bind:class="{'prof-button-modifier' : removeAformat}">Remove {{prof.name}}</a> 
            </li> -->
        </ul>

        <section class="bio-data" :class="{'show-bio' : showBioData}">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ab in sequi corporis vitae optio? Adipisci impedit, voluptatum consequuntur similique nobis perspiciatis ipsam, quidem aut hic laudantium necessitatibus distinctio ipsa.</p>
        </section>
    </main>
</body>
    
    <script src="js/main.js" type="module"></script>

    <!-- Vue guide : https://vuejs.org/v2/guide/ -->
    
</html>